
@model MrFixIt.Models.Job

<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" />
}
<p>@Html.ActionLink("Nope!", "Index")</p>