<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
  
    <h2>@Job.Title</h2>
    <p>@Job.Description</p>
    @if (Job.Worker == null)
    {  
        <div id="@Job.JobId">This job is unclaimed</div>
        
        <div class="@Job.JobId">Claim this job</div>
    }
    else
    {
        <p>
            Claimed by @Job.Worker.FirstName @Job.Worker.LastName
        </p>
    }
<script>
$('.@Job.JobId').click(function () {
    $.ajax({
        type: 'GET',
        dataType: 'html',
        url: '@Url.Action("Claim")',
        data: {id : @Job.JobId},
        success: function (result) {
            $('#@Job.JobId').html(result);
        }
    });
});
</script>
}
